<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Split Ease</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="icon" type="image/png" href="static/img/favicon.ico">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="static/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="static/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href="{{url_for('home')}}">
                    <h1 class="tm-site-title mb-0">Split Ease</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('home')}}">
                                <i class="fas fa-tachometer-alt"></i>
                                HOME
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('stats')}}">
                                <i class="far fa-file-alt"></i>
                                Reports
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('people')}}">
                                <i class="fas fa-shopping-cart"></i>
                                Expenses
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('contactus')}}">
                                <i class="far fa-user"></i>
                                Contact Us
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="{{url_for('login')}}">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>

            <div class="row tm-content-row">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Project Description</h2>
                        <p class="text-white">

Split Ease is a revolutionary solution aimed at simplifying the intricate world of group finances. Recognizing the complexities and potential pitfalls inherent in managing shared expenses, Split Ease endeavors to transform this daunting task into a seamless, stress-free experience. At its core, Split Ease is driven by a profound mission: to foster transparency, efficiency, and harmony within groups by offering a user-friendly platform for expense tracking and settlement.

<br><br>Split Ease revolutionizes the way groups handle finances by offering a streamlined approach to expense management. With its intuitive interface, users can effortlessly record expenses, track payments, and determine outstanding balances. Manual calculations become a relic of the past, replaced by a system that saves time and effort for all involved parties.

<br><br>Transparency lies at the heart of Split Ease. Through its comprehensive features, the platform provides a crystal-clear overview of all financial transactions, balances, and settlements. This transparency ensures that every member remains fully informed about their financial commitments and contributions, thereby nurturing trust and accountability within the group. Misunderstandings and disputes over shared expenses can strain relationships and undermine group cohesion. Split Ease acts as a preemptive measure against such conflicts by accurately calculating balances and offering a convenient settlement feature.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row tm-content-row">
                <!-- <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Notification List</h2>
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Jessica</b> sent you 650 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">2h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Robert</b> sent you 150 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">4h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>George</b> sent you 35 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">5h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Jessica</b> sent you 650 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">2h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Robert</b> sent you 150 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">4h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>George</b> sent you 35 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">5h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Jessica</b> sent you 650 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">2h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Robert</b> sent you 150 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">4h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>George</b> sent you 35 AED.</p>
                                    <span class="tm-small tm-text-color-secondary">5h ago.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Transaction History</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">CATEGORY</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">CURRENCY</th>
                                    <th scope="col">WHO PAID</th>
                                    <th scope="col">TRANSACTION DATE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trans in transactions %}
                                <tr>
                                    <th scope="row"><b>{{ trans.email }}</b></th>
                                    <td>{{ trans.category }}</td>
                                    <td>{{ trans.amount }}</td>
                                    <td>USD ($)</td>
                                    <td>{{ trans.sentBy }}</td>
                                    <td>{{ trans.transactiondate }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2024</b> Split Ease. All rights reserved.
                </p>
            </div>
        </footer>
    </div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="static/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="static/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="static/js/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
</body>

</html>
